<div class="section-editor-content">
  @if (content && content.inputs) {
    <div class="field-group">
      <label>Image</label>
        <app-image-input
          [existingImageUrl]="imageUrl"
          [originalFileName]="section().file?.fileName"
          [maxHeight]="600"
          [minAspectRatio]="0"
          [maxAspectRatio]="6/1"
          (fileChanged)="onFileChange($event)"
        />
    </div>
    <div class="field-group">
      <label>Text</label>
      <app-rich-text-input
        [value]="content.inputs.text"
        (valueChange)="onContentChange('inputs.text', $event)"
        placeholder="Enter text..."
      />
    </div>
    <app-collapsible
      [(checked)]="showStylePanel"
      label="Style"
    >
      <div class="style-field">
        <label>Image Position</label>
        <app-select-input
        [options]="[{id: 'top-left',name: 'Top-left'},{id: 'top-right',name: 'Top-right'}]"
        [value]="content.styles.imagePosition"
        (valueChange)="onContentChange('styles.imagePosition', $event)"
        [showClearButton]="false"
        [showSearch]="false"
        >
        </app-select-input>
      </div>
    </app-collapsible>
  }
  <app-button variant="danger" size="sm" (onClick)="deleteSection()">
    @if (section().isDeleted) { Undo } @else { Delete Section }
  </app-button>
</div>
