<div class="section-editor-content">
  @if (content && content.inputs) {
    <div class="field-group">
      <label>Image</label>
          <app-image-input
            [existingImageUrl]="imageUrl"
            [originalFileName]="section().file?.fileName"
            [maxHeight]="600"
            [minAspectRatio]="0"
            [maxAspectRatio]="6/1"
            (fileChanged)="onFileChange($event)"
          />
    </div>
  }
  <app-button variant="danger" size="sm" (onClick)="deleteSection()">
    @if (section().isDeleted) { Undo } @else { Delete Section }
  </app-button>
</div>
