<app-text-input
  [type]="type"
  [labelKey]="labelKey"
  [placeholderKey]="placeholderKey"
  [control]="control"
  [required]="required"
  [disabled]="disabled"
  [readonly]="readonly"
  [minLength]="minLength"
  [maxLength]="maxLength"
  [pattern]="pattern"
>
  <app-button
    variant="icon"
    size="sm"
    suffix
    (onClick)="toggleVisibility()"
    [attr.aria-label]="showPassword ? 'Hide password' : 'Show password'"
  >
      <app-icon [name]="showPassword?'eye-off':'eye'" size="md" />
  </app-button>
</app-text-input>
