<div class="number-input-wrapper">
  @if (labelKey) {
  <label class="number-input-label">
    {{ labelKey | translate }}
    @if (!readonly && isRequired) {
      <span class="required-mark">*</span>
    }
  </label>
}
  <div class="number-input-container">
    <input
      #inputEl
      type="text"
      [formControl]="control!"
      [placeholder]="placeholderKey ? (placeholderKey | translate) : ''"
      [attr.disabled]="disabled"
      [readonly]="readonly"
      class="number-input-field"
      [class.error]="shouldShowError"
      [class.dirty]="isDirty"
      (input)="onInput($event)"
      (change)="onValueChange($event)"
      (keydown)="onKeyDown($event)"
      (wheel)="onWheel($event)"
    />
    @if (unit) {
      <span class="number-input-unit">{{ unit }}</span>
    }
  </div>
  @if (shouldShowError && errorMessage) {
    <span class="number-input-error"> {{ errorMessage.key | translate: errorMessage.params }} </span>
  }
</div>
