<div class="section-editor-content">
  <app-subsection-selector [section]="section()"></app-subsection-selector>
  <app-collapsible
      [(checked)]="showStylePanel"
      label="Style"
    >
   <div class="style-field">
        <label>Gap (px)</label>
        <app-number-input
        [(value)]="content.styles.gap"
        [min]="0"
        ></app-number-input>
      </div>
      <div class="style-field">
        <label>Justify Content</label>
        <app-select-input
        [options]="justifyContentOption"
        [(value)]="content.styles.justifyContent"
        [showClearButton]="false"
        [showSearch]="false"
        >
        </app-select-input>
      </div>
      <div class="style-field">
        <label>Align Items</label>
        <app-select-input
        [options]="alignItemsOption"
        [(value)]="content.styles.alignItems"
        [showClearButton]="false"
        [showSearch]="false"
        >
        </app-select-input>
      </div>
    </app-collapsible>
  <app-button variant="danger" size="sm" (onClick)="deleteSection()">
    @if (section().isDeleted) { Undo } @else { Delete Section }
  </app-button>
</div>
