@if (menu()?.menuItems) {
  <nav class="sidebar-menu-renderer">
    @for (item of menu()!.menuItems; track item.id) {
      <div class="menu-item-wrapper">
        <a 
          (click)="handleMenuLinkClick($event, item)"
          class="menu-item">
          <div class="menu-item-content">
            <span class="menu-item-text">{{ item.text }}</span>
          </div>
          @if (item.subMenuItems.length > 0) {
            <span 
              class="menu-item-expand-icon"
              [class.expanded]="item.toggled"
              (click)="item.toggled = !item.toggled;">
              ▶
            </span>
          }
        </a>
        @if (item.toggled && item.subMenuItems.length > 0) {
          <div class="submenu-container">
            @for (child of item.subMenuItems; track child.id) {
              <a 
                (click)="handleMenuLinkClick($event, child)"
                class="submenu-item">
                {{ child.text }}
              </a>
            }
          </div>
        }
      </div>
    }
  </nav>
}
