:host{
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
}
.rich-text-section-editor {
  flex-grow: 1;
  padding: 20px;
}

.field-group {
  margin-bottom: 24px;

  label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
    color: #374151;
  }
}
