.page-settings {
  height: var(--height-full);
  padding: var(--spacing-xl);
  background: var(--background-secondary);

  h2 {
    margin: 0 0 var(--spacing-xl) 0;
  }
}

.form-group {
  margin-bottom: var(--spacing-md);
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: var(--spacing-sm);
}
