<div class="layout">
  <app-header
    [onSidenavClick]="toggleSidenav">
  </app-header>

  <div class="main-content">
    <app-sidebar-menu-renderer/>

    <div class="content-wrapper">
      <main class="content">
        @if (viewModeService.isAdminMode()) {
          <app-page-editor />
        }@else {
          <app-portfolio-page />
        }
      </main>
      <app-footer-menu-renderer/>
    </div>
  </div>

  @if (showSidenav()) {
    <div class="sidenav-overlay mobile-only" (click)="toggleSidenav()"></div>
    <aside class="sidenav mobile-only">
      <div class="sidenav-header">
        <button type="button" class="close-button" (click)="toggleSidenav()">×</button>
      </div>
        <app-sidebar-menu-renderer/>
    </aside>
  }
</div>
