<div class="section-editor-content">
  <app-subsection-selector [section]="section()"></app-subsection-selector>
  <app-collapsible
        label="Style"
      >
    <div class="style-field">
        <label>Height</label>
        <app-number-input
          [value]="content.styles.height"
          (valueChange)="onContentChange('styles.height', $event)"
          [min]="0"
          [max]="1000"
        />
      </div>
    </app-collapsible>

  <app-button variant="danger" size="sm" (onClick)="deleteSection()">
    @if (section().isDeleted) { Undo } @else { Delete Section }
  </app-button>
</div>
