<div class="carousel-section-render" [style.height]="content.styles.height + 'px'">
  @if (subSections.length > 0) {
      <div class="carousel-content">
        @if (currentSlide) {
          <div class="slide">
            <app-section-renderer
              [section]="currentSlide"
              [isSelected]="false"
            />
          </div>
        } @else {
          <div class="placeholder">No slide selected</div>
        }
      </div>

      @if (subSections.length > 1) {
        <app-button
          variant="icon"
          class="nav-button prev interactive-element"
          (onClick)="previousSlide()"
          [disabled]="currentSlideIndex === 0"
        >
          &#10094;
        </app-button>

        <app-button
          variant="icon"
          class="nav-button next interactive-element"
          (onClick)="nextSlide()"
          [disabled]="subSections.length === currentSlideIndex + 1"
        >
          &#10095;
        </app-button>

        <div class="carousel-indicators interactive-element">
          @for (slide of subSections; track slide.id; let i = $index) {
            <app-button
              variant="icon"
              class="indicator"
              [active]="i === currentSlideIndex"
              (onClick)="goToSlide(i)"
            ></app-button>
        }
      </div>
    }
  } @else {
    <div class="placeholder">No slides added</div>
  }
</div>
