<div class="carousel-section-render" [style.height]="content.styles.height + 'px'">
  @if (subSections.length > 0) {
      <button
        type="button"
        class="nav-button prev interactive-element"
        (click)="previousSlide()"
        [disabled]="currentSlideIndex === 0"
      >
        &#10094;
      </button>

      <div class="carousel-content">
        @if (currentSlide) {
          <div class="slide">
            <app-section-renderer
              [section]="currentSlide"
              [isSelected]="true"
            />
          </div>
        } @else {
          <div class="placeholder">No slide selected</div>
        }
      </div>

      <button
        type="button"
        class="nav-button next interactive-element"
        (click)="nextSlide()"
        [disabled]="subSections.length === currentSlideIndex + 1"
      >
        &#10095;
      </button>
      
      @if (subSections.length > 1) {
        <div class="carousel-indicators interactive-element">
          @for (slide of subSections; track slide.id; let i = $index) {
            <button
            type="button"
            class="indicator"
            [class.active]="i === currentSlideIndex"
            (click)="goToSlide(i)"
          ></button>
        }
      </div>
    }
  } @else {
    <div class="placeholder">No slides added</div>
  }
</div>
